.btn {
    background-color: #BDD;
    border: solid 1px #000;
    color: #000;
    padding: 3px 25px;
    text-align: center;
    display: block;
    font-size: 19px;
    border-radius: 3px;
}

.btn-delete {
    padding: 2px 7px;
    font-size: 16px;
}

.btn:hover {
    background-color: #9AF;
    cursor: pointer;
}

.hidden {
    display: none;
}